---
layout: base
permalink: /index.html
title: 'EADG NEWS'
description: '⚡ news and reviews for bass guitars ⚡'
---

<div class="wrapper">
  <header class="full | section" style="--spot-color: var(--color-primary)">
    <div class="section__inner flow region">
      <img src="/assets/images/template/eadg-logo.png" alt="EADG NEWS" class="logo" />
      <h1 class="text-center" style="color: var(--color-light); margin-top: 400px">{{ title }}</h1>
      <h3 class="text-center" style="color: var(--color-light);">{{ description }}</h3>
    </div>
    {% svg "divider/waves", null, "divider" %}
  </header>

  <article class="full | region">
    <div class="wrapper flow prose">
      <h2 id="an-eleventy-starter">Hi!</h2>
      <p>
        This is a home for bass guitar news and reviews. I hope to provide
        some honest and insightful reviews of bass guitars, amps, pedals, and
        other gear.
      </p>
    </div>
  </article>

  <section class="full | region">
    <div class="wrapper flow prose">
      <div class="feature |  region region-space-l">
        <custom-masonry layout="50-50">
          {% set itemList = collections.allPosts %}
					{% asyncEach item in itemList %}
            {% set headingLevel = "h3" %}
						{% include "partials/card-blog.njk" %}
					{% endeach %}
        </custom-masonry>
      </div>
    </div>
  </section>
</div>
